@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: #f0f0f0;
}

body {
  background: url("../images/background2.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Search Input Area Styling */

header {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  gap: 1rem;
}

.input-area {
  display: flex;
  gap: 0.5rem;
  width: 350px;
}

.search-button {
  border: none;
  background: transparent;
  font-size: 1.1rem;
  cursor: pointer;
}
.search-button:active {
  transform: scale(3);
  transition: all 1s ease-out;
}

.search-input {
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: black;
  outline: none;
}
/* 
Weather Display Styling */

.weather-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 0.8rem;

  margin: 7rem auto;
}

.city {
  font-size: 1.7rem;
}

.temp-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  right: 2.5rem;
}

.temp-info span {
  font-size: 4.5rem;
}

/* Hide farenheit or celzius */

.hidden {
  display: none;
}

.temp-scales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2em;
}

.temp-scales > * {
  cursor: pointer;
}

.active {
  font-weight: 800;
  transform: scale(1.3);
}

.description {
  font-weight: 600;
  font-size: 1.4rem;
}

.additional-info1,
.additional-info2 {
  display: flex;
  width: 100%;
  gap: 2rem;
  justify-content: center;
}

/* Weekly forecast styling */
.weekly-forecast {
  padding: 0 2rem;
}
.weekly-forecast h2 {
  position: relative;

  bottom: 1rem;
}

.weekly-forecast-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.daily-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.min-max {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.max-temp {
  font-size: 1.6rem;
  font-weight: 600;
}
.daily-description {
    position: relative;
    top: 0.4rem;
}
